.introduction h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.introduction p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.introduction {
    padding: 50px;
    text-align: center;
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: -2px -2px 56px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -2px 56px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -2px 56px 0px rgba(0, 0, 0, 0.75);
    background-color: #bd6f46;
}

nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(12, 11, 11);
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

nav {
    float: left;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

header {
    width: 100%;
    background-color: #bd6f46;
    z-index: 100;
    position: fixed;
}